body {
    font-family: 'Rajdhani', sans-serif;
    padding: 10rem 15rem;
}

h1 {
    text-align: center;
}

.submit-div {
    display: flex;
    justify-content: center;
}

.custom-submit {
    padding: .5rem 2rem;
    margin-top: 2rem;
    font-size: 1.25rem;
}

form {
    padding-bottom: 2rem;
}

.custom-dropdown {
    padding: .5rem 2rem;
}

.custom-label {
    font-size: 1.5rem;
}